<div>
  <div>
    <%= image_tag user.photo, alt: "#{user.name}'s photo" %>
  </div>
  <div>
    <%= tag.h1(user.name) %>
    <p>Number of posts: <%= tag.span(user.posts_counter) %></p>
  </div>
  <%= link_to '', user_path(user.id), id: "link_user-#{user.id}" %>
</div>