<div>
  <div>
    <%= image_tag @current_user.photo, alt: "#{current_user.name}'s photo", :style => "width: 100px;" %>
  </div>
  <div>
    <%= tag.h1(@current_user.name) %>
    <p>Number of posts: <%= tag.span(@current_user.posts_counter) %></p>
  </div>
  <%= link_to '', user_path(@current_user.id), id: "link_user-#{current_user.id}" %>
</div>