<div>
  <div>
     <%= content_tag(:div, tag.img(src: user.photo, alt: "#{user.name}'s photo", width: '150px'), class: 'card') %>
  </div>
  <div>
    <%= tag.h1(@current_user.name) %>
    <p>Number of posts: <%= tag.span(@current_user.posts_counter) %></p>
  </div>
  <%= link_to '', user_path(@current_user.id), id: "link_user-#{current_user.id}" %>
</div>