<%= render 'users/user_card', user: @user %>
<%= render 'layouts/alert', flash: flash %>
<% @posts_and_comments.each do |post| %>
  <% if post.comments_counter > 0 %>
    <div>
  <% end %>
  <%= render 'post_card', post: post, detailed: false %>
  <% if post.comments_counter > 0 %>
    <div>
      <%= render partial: 'comments/comment_card', collection: post.comments.first(5), as: :comment %>
    </div>
    </div>
  <% end %>
<% end %>
